.exchanges {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.exchanges__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 100px;
  background-color: #000;
  border-radius: 30px;
}

.exchanges__item-image {
  max-width: 80px;
}

.exchanges__item-image_big {
  max-width: 130px;
}

.exchanges__item-soon {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 20px;
  background-color: #513285;
  font-size: 14px;
  font-family: 'Nekst Regular', sans-serif;
  color: #fff;
  border-radius: 5px;
}

.exchanges_use {
  margin-top: 200px;
}

.exchanges__item_use {
  background-color: #493b80;
}

@media (max-width: 1490px) {
  .exchanges__item {
    margin: 0 20px;
  }
}

@media (max-width: 1200px) {

  .exchanges {
    flex-wrap: wrap;
    justify-content: center;
  }

  .exchanges__item {
    width: 180px;
    height: 80px;
    margin: 20px;
  }

  .exchanges__item-image {
    max-width: 70px;
  }

  .exchanges__item-image_big {
    max-width: 90px;
  }

  .exchanges_use {
    margin-top: 100px;
    margin-bottom: 0;
  }

}

@media (max-width: 768px) {

  .exchanges__item {
    width: 175px;
    height: 70px;
    margin: 10px;
    border-radius: 20px;
  }

  .exchanges__item_none {
    display: none;
  }

  .exchanges__item-image {
    max-width: 60px;
  }

  .exchanges__item-image_big {
    max-width: 85px;
  }

}

@media (max-width: 480px) {

  .exchanges {
    margin-top: 25px;
  }

  .exchanges__item {
    width: 80%;
    border: #7b7b7b 1px solid;
  }

}