.text {
  font-family: 'Nekst Regular', sans-serif;
  color: #fff;
}

.title {
  min-width: 800px;
  font-family: 'Nekst Light', sans-serif;
  font-weight: 100;
  font-size: 64px;
  background-image: linear-gradient(to left, #FFFFFF, #7a44d2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.title_strong {
  color: #fff;
  font-weight: 600;
  font-size: 100px;
}

.title_promo {
  margin-left: 5%;
  font-size: 100px;
}

.title_control {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
}

.title_focus {
  font-size: 110px;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
}

.title_features {
  font-size: 80px;
  max-width: 50%;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
  font-weight: 600;
}

.title_trading {
  font-size: 120px;
  font-weight: 600;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
  margin: 0 50px;
}

.title_free {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 400px;
}

.title_join {
  display: inline-block;
  width: 50%;
  font-size: 120px;
  font-weight: 600;
  text-align: left;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
  margin-left: 50px;
}

.title_try {
  position: relative;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  z-index: 100;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  margin: 0px;
  color: #fff;
}