.demo {
  position: relative;
  min-height: 1200px;
  padding: 50px 25px;
  background: url("../../img/demo/background.png") center 40% no-repeat;
  background-size: cover;
}

.demo__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.demo__descr {
  width: 40%;
  text-align: left;
  font-size: 68px;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
  margin-left: 25px;
}

.demo__items {
  width: 50%;
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo__item {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #0D0D13;
  border-radius: 50px;
  margin: 15px;
  z-index: 100;
}

.demo__item-image {
  position: absolute;
  right: 40px;
  top: 40px;
}

.demo__item-descr {
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #fff;
  font-size: 20px;
}

.demo__light {
  position: absolute;
  height: 100%;
  right: 0;
  top: 20%;
}

@media (max-width: 1490px) {

  .demo__descr {
    width: 50%;
    font-size: 55px;
  }
    
  .demo__items {
    justify-content: right;
    width: 50%;
  }

}

@media (max-width: 1200px) {

  .demo__wrap {
    flex-direction: column;
    margin-top: 50px;
  }

  .demo__descr {
    width: 80%;
    font-size: 40px;
    text-align: center;
  }

  .demo__items {
    width: 100%;
    justify-content: center;
  }

  .demo__item {
    width: 60%;
  }

  .demo__item-descr {
    width: 60%;
  }

}

@media (max-width: 768px) {

  .demo__descr {
    width: 90%;
    font-size: 30px;
    margin: 0 0 50px 0;
  }

  .demo__item {
    width: 90%;
  }

  .demo__item-descr {
    font-size: 16px;
  }

}

@media (max-width: 480px) {

  .demo__descr {
    font-size: 20px;
  }

  .demo__item {
    border-radius: 20px;
    width: 100%;
  }

  .demo__item-descr {
    font-size: 16px;
    bottom: 30px;
    left: 30px;
  }

  .demo__item-image {
    width: 70px;
    height: 70px;
    top: 30px;
    right: 30px;
  }

}