.features {
  min-height: 800px;
  padding: 20px 0 100px 0;
  background-color: #000;
}

.features__items {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.features__item {
  width: 15%;
  height: 380px;
  border: 2px #402E5C solid;
  border-radius: 30px;
  padding: 50px;
  margin: 0 20px;
}

.features__item-title {
  font-size: 30px;
}

.features__item-image {
  width: 120px;
  height: 120px;
  margin-top: 40px;
}

.features__item-descr {
  max-width: 80%;
  color: #B7B1C3;
  font-size: 16px;
  margin-top: 110px;
}

@media (max-width: 1490px) {
    
  .features {
    padding-left: 0;
  }

  .features__items {
    margin-top: 100px;
  }

  .features__item {
    width: 25%;
    padding: 20px;
    height: 330px;
  }

  .features__item-title {
    font-size: 24px;
  }

  .features__item-image {
    width: 100px;
    height: 100px;
  }

  .features__item-descr {
    margin-top: 85px;
    max-width: 100%;
  }

}

@media (max-width: 1200px) {

  .features__items {
    flex-wrap: wrap;
  }

  .features__item {
    margin: 20px;
    width: 30%;
  }

  .features__item-descr {
    margin-top: 90px;
  }

}

@media (max-width: 768px) {

  .features {
    padding-top: 100px;
  }

  .features__item {
    width: 80%;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    height: 250px;
  }

  .features__item-title {
    text-align: center;
  }

  .features__item-image {
    display: block;
    width: 80px;
    height: 80px;
    margin: 30px auto 0 auto;
  }

  .features__item-descr {
    text-align: center;
    margin-top: 60px;
  }

}

@media (max-width: 480px) {

  .features__items {
    margin-top: 30px;
  }

}