.focus {
  position: relative;
  min-height: 2200px;
  width: 100%;
  padding: 100px 0 200px 0;
  background-color: #000;
}

.focus__items {
  display: block;
  padding: 0 50px;
}

.focus__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

.focus__image {
  width: 40%;
}

.focus__descr {
  width: 40%;
  background: url('../../img/base/Subtract.svg') 0% 0% no-repeat;
  background-size: 100%;
}

.focus__descr-wrap {
  display: flex;
  justify-self: space-between;
  margin-top: 120px;
}

.focus__descr-subtitle {
  display: inline-block;
  font-size: 40px;
  max-width: 55%;
}

.focus__descr-subtitle_big {
  max-width: 80%;
}

.focus__descr-subtitle span {
  color: #7B708D;
  font-family: 'Nekst Light', sans-serif;
  font-weight: 100;
}

.focus__descr-note {
  display: inline-block;
  font-size: 18px;
  color: #B7B1C3;
  margin-left: 20px;
}
