.focus {
  position: relative;
  min-height: 1800px;
  padding: 100px 25px 200px 25px;
  background-color: #000;
}

.focus__items {
  display: block;
  padding: 0 50px;
}

.focus__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

.focus__image {
  width: 40%;
}

.focus__descr {
  width: 40%;
  background: url('../../img/base/Subtract.svg') 0% 0% no-repeat;
  background-size: 100%;
}

.focus__descr-wrap {
  display: flex;
  justify-self: space-between;
  margin-top: 90px;
}

.focus__descr-subtitle {
  display: inline-block;
  font-size: 30px;
  max-width: 55%;
}

.focus__descr-subtitle_big {
  max-width: 80%;
}

.focus__descr-subtitle span {
  color: #7B708D;
  font-family: 'Nekst Light', sans-serif;
  font-weight: 100;
}

.focus__descr-note {
  display: inline-block;
  font-size: 18px;
  color: #B7B1C3;
  margin-left: 20px;
}

@media (max-width: 1490px) {

  .focus {
    min-height: 600px;
    padding-bottom: 20px;
  }

  .focus__descr {
    padding: 0 10px;
  }

  .focus__descr-wrap {
    margin-top: 50px;
  }

  .focus__descr-subtitle {
    font-size: 22px;
  }

  .focus__descr-note {
    font-size: 14px;
  }

}

@media (max-width: 1200px) {
  
  .focus {
    padding-top: 50px;
  }

  .focus__image {
    width: 50%;
  }

  .focus__items {
    padding: 0;
    justify-content: space-between;
  }

  .focus__item {
    margin-top: 50px;
  }

  .focus__descr {
    width: 50%;
  }

  .focus__descr-subtitle {
    font-size: 18px;
  }

}

@media (max-width: 768px) {

  .focus__item {
    flex-direction: column;
  }

  .focus__item:nth-child(2) {
    flex-direction: column-reverse;
  }

  .focus__image {
    width: 100%;
  }

  .focus__image_last {
    margin: -50px 0 0 -60px;
  }

  .focus__descr {
    width: 100%;
  }

}

@media (max-width: 480px) {

  .focus__descr-wrap {
    margin-top: 20px;
  }

  .focus__image_last {
    margin: -50px 0 0 -40px;
  }

  .focus__descr-subtitle {
    font-size: 16px;
  }

  .focus__descr-note {
    font-size: 12px;
  }

}