.join {
  position: relative;
  min-height: 1000px;
  background-color: #000;
  padding: 50px 25px 150px 25px;
}

.join__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.join__subtitle {
  color: #B0A3C9;
  font-size: 30px;
  width: 30%;
  display: inline-block;
}

.join__descr {
  width: 60%;
  margin: 100px auto;
  background-image: linear-gradient(to left, #7a44d2, #FFFFFF );
  text-align: center;
  font-size: 70px;
}

.join__light {
  position: absolute;
  width: 70%;
  bottom: -30%;
  right: 0;
  z-index: 1;
}

@media (max-width: 1490px) {
    
  .join__subtitle {
    font-size: 26px;
  }

  .join__descr {
    font-size: 50px;
  }

}

@media (max-width: 1200px) {

  .join {
    min-height: 500px;
    padding-bottom: 100px;
  }

  .join__wrap {
    justify-content: space-around;
  }

  .join__subtitle {
    font-size: 20px;
  }

  .join__descr {
    width: 80%;
    font-size: 40px;
  }

  .join__light {
    bottom: -10%;
  }

}

@media (max-width: 768px) {

  .join {
    padding-bottom: 0;
  }

  .join__wrap {
    display: block;
    width: 100%;
  }

  .join__subtitle {
    display: block;
    width: 100%;
  }

  .join__descr {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 0;
  }

  .join__light {
    bottom: -25%;
  }

}

@media (max-width: 480px) {

  .join {
    padding-top: 30px;
  }

  .join__subtitle {
    font-size: 16px;
  }

  .join__descr {
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .join__light {
    bottom: -10%;
  }
  
}