.numbers {
  min-height: 1200px;
  background: url("../../img/numbers/background.png") center 0% no-repeat;
  background-size: cover;
  padding: 50px 25px;
}

.numbers__text {
  font-size: 250px;
  margin-top: 100px;
  margin-left: 5%;
}

.numbers__text_sub {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 5%;
}

.numbers__text_small {
  color: #6E647D;
  font-size: 16px;
  margin-top: 300px;
  margin-left: 5%;
}

.numbers__items {
  display: flex;
  justify-content: right;
}

.numbers__item {
  width: 400px;
  height: 300px;
  margin: 20px;
  background: url("../../img/numbers/Rectangle2.svg") center center no-repeat;
  block-size: cover;
}
.numbers__item:first-child {
  background: url("../../img/numbers/Rectangle.svg") center center no-repeat;
}

.numbers__item-title {
  font-size: 80px;
  margin: 20px 0 0 40px;
}

.numbers__item-text {
  width: 40%;
  text-align: left;
  font-size: 20px;
  margin: 100px 0 0 40px;
}

@media (max-width: 1490px) {
    
  .numbers__text {
    font-size: 170px;
  }

  .numbers__text_sub {
    font-size: 30px;
  }

  .numbers__text_small {
    font-size: 14px;
  }

  .numbers__item {
    width: 350px;
    height: 280px;
    margin: 20px;
    background-size: contain;
  }

  .numbers__item:first-child {
    background-size: contain;
  }

  .numbers__item-title {
    font-size: 70px;
  }

  .numbers__item-text {
    font-size: 18px;
  }

}

@media (max-width: 1200px) {

  .numbers {
    min-height: 700px;
    padding-top: 100px;
    background: url("../../img/numbers/background.png") center 0% no-repeat;
    background-size: cover;
  }

  .numbers__text {
    font-size: 100px;
    margin-top: 40px;
  }

  .numbers__text_sub {
    font-size: 28px;
    margin-top: 10px;
  }

  .numbers__text_small {
    display: none;
  }

  .numbers__items {
    margin-top: 300px;
  }

  .numbers__item {
    width: 240px;
    height: 180px;
    margin: 10px;
  }

  .numbers__item-title {
    font-size: 40px;
  }

  .numbers__item-text {
    font-size: 14px;
    margin-top: 50px;
  }

}

@media (max-width: 768px) {

  .numbers {
    position: relative;
    padding-top: 120px;
    z-index: 10;
  }

  .numbers__item-title {
    margin: 20px 0 0 20px;
  }

  .numbers__item-text {
    width: 80%;
    margin: 50px 0 0 20px;
  }

}

@media (max-width: 480px) {

  .numbers {
    padding: 40px 10px 0 10px;
  }

  .numbers__text {
    font-size: 64px;
    margin-top: 20px;
  }

  .numbers__text_sub {
    font-size: 20px;
  }

  .numbers__item {
    width: 145px;
    margin: 3px;
    height: 115px;
  }

  .numbers__item-title {
    margin: 10px 0 0 10px;
    font-size: 30px;
  }

  .numbers__item-text {
    margin: 25px 0 0 10px;
    width: 80%;
  }

}