.brand {
  position: relative;
  min-height: 600px;
  padding: clamp(1.25rem, -0.179rem + 7.14vw, 6.25rem);
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../img/brand/background.jpg") center center/cover no-repeat;
  }
  &__path {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: clamp(20rem, 7.857rem + 60.71vw, 62.5rem);
    height: clamp(6.25rem, 2.5rem + 18.75vw, 19.375rem);
    background: url("../../img/brand/Path.png") center center/cover no-repeat;
    z-index: -1;
  }
  &__wrap {
    position: relative;
    height: 370px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 10000;
  }
  &__text {
    &-descr {
      display: block;
      width: 100%;
      font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
      color: $dark-color;
      margin-top: 40px;
    }
  }
}

@media (max-width: $laptop-size) {
  .brand {
    min-height: 400px;
    &__wrap {
      width: 60%;
    }
  }
}

@media (max-width: $tablet-size) {
  .brand {
    &__wrap {
      width: 60%;
    }
  }
}

@media (max-width: $mobile-size) {
  .brand {
    min-height: 430px;
    &__wrap {
      width: 100%;
    }
    &__background {
      background: url("../../img/brand/background.jpg") 55% center/cover no-repeat;
    }
  }
}