.color-swap {
  position: relative;
  width: 250px;
	height: 55px;
  cursor: pointer;
  &__span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: $font-title;
    font-weight: 600;
    pointer-events: none;
    &_white {
      left: 15%;
      color: $dark-color;
    }
    &_black {
      right: 15%;
      color: $light-color;
    }
  }
  &_buy {
    margin-top: 25px;
  }
}
.color-swap__checkbox[type="checkbox"] {
  position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  border-radius: 40px;
  border: 5px $light-color solid;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    font-size: 16px;
    content: "";
    background-color: $light-color;
    color: $dark-color;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: $font-title;
    font-weight: 600;
    border-radius: 40px;
  }
  &:checked {
    border: 5px $dark-color solid;
  }
  &:checked:before {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;;
    content: "";
    color: $light-color;
    background-color: $dark-color;
    border-radius: 40px;
  }
  &:checked ~ .color-swap__span_black {
    color: $light-color;
  }
  &:checked ~ .color-swap__span_white {
    color: $dark-color;
  }
}

@media (max-width: $wide-mobile-size) {
  .color-swap {
    width: 220px;
    height: 50px;
    &__checkbox[type="checkbox"] {
      &:checked:before {
        width: 55%;
        left: 45%;
      }
    }
  }
}

@media (max-width: $mobile-size) {
  .color-swap {
    max-width: 95%;
    height: 55px;
    margin: 0 auto;
  }
}