.features {
  position: relative;
  padding-top: 250px;
  min-height: 1200px;
  z-index: 100;
  &__ellipse {
    position: absolute;
    width: 500px;
    height: 500px;
    pointer-events: none;
    &-1 {
      background: url("../../img/features/ellipse2.png") center center/cover no-repeat;
      bottom: 30%;
      right: 30%;
    }
    &-2 {
      background: url("../../img/features/ellipse3.png") center center/cover no-repeat;
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: $tablet-size) {
  .features {
    padding-top: 180px;
    padding-bottom: 150px;
  }
}

@media (max-width: $wide-mobile-size) {
  .features {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}