.mobile-tabs {
  display: none;
  margin-top: 50px;
}

.mobile-tab {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      color: $accent-color;
      font-size: clamp(1rem, 0.886rem + 0.57vw, 1.25rem);
    }
    &-hr {
      width: 250px;
      height: 3px;
      background-color: $accent-color;
      margin: 10px 0;
    }
    &-descr {
      font-size: clamp(0.75rem, 0.693rem + 0.28vw, 0.875rem);
      width: 80%;
      text-align: center;
    }
  }
  &__content {
    margin: 30px auto;
    &-img {
      border-radius: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .mobile-tabs {
    display: block;
  }
}

@media (max-width: $tablet-size) {
  .mobile-tab {
    &__header {
      align-items: flex-start;
      &-hr {
        width: 150px;
      }
      &-descr {
        text-align: start;
        width: 80%;
      }
    }
    &__content {
      width: 100%;
      height: 350px;
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 10% 0;
      }
    }
  }
}

@media (max-width: $wide-mobile-size) {
  .mobile-tab__content {
    height: 250px;
  }
}

@media (max-width: $mobile-size) {
  .mobile-tab {
    &__header {
      &-descr {
        width: 100%;
      }
    }
    &__content {
      height: 200px;
    }
  }
}