.safety {
  position: relative;
  padding: 100px 0;
  z-index: 10;
  &__ellipse {
    position: absolute;
    width: 70%;
    height: 90%;
    bottom: 0;
    left: 0;
    background: url("../../img/safety/ellipse.png") center center/cover no-repeat;
    pointer-events: none;
    z-index: -10;
  }
}

@media (max-width: 1024px) {
  .safety {
    &__ellipse {
      width: 120%;
    }
  }
}