.title {
  color: $accent-color;
  font-family: $font-title;
  font-weight: 500;
  font-size: clamp(1.25rem, 0.682rem + 2.84vw, 2.813rem);
  line-height: clamp(1.625rem, 1.08rem + 2.73vw, 3.125rem);
  &_main {
    font-weight: 500;
    font-size: clamp(1.875rem, 0.739rem + 5.68vw, 5rem);
    line-height: clamp(1.875rem, 0.739rem + 5.68vw, 5rem);
    color: $light-color;
    width: 90%;
  }
  &_white {
    color: $light-color;
  }
  &_features {
    width: 80%;
  }
}

@media (max-width: $laptop-size) {
  .title {
    &_main {
      width: 100%;
    }
  }
}