.container {
	max-width: $container-width;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

@media (max-width: $laptop-size) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $tablet-size) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: $wide-mobile-size) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: $mobile-size) {
  .container {
    max-width: 100%;
  }
}