$container-width: 1200px;

$font-title: 'Gilroy-Medium', sans-serif;
$font-item-title: 'Gilroy-Semibold', sans-serif;
$font-item-descr: 'Gilroy-Regular', sans-serif;

$page-bg-dark: #222222;
$page-bg-light: #E0E0E0;

$light-color: #F1F1F1;
$dark-color: #151515;
$accent-color: #FF4C0D;

$laptop-size: 1199px;
$tablet-size: 991px;
$wide-mobile-size: 767px;
$mobile-size: 575px;