@font-face {
  font-family: "Nekst Black";
  src: url("../../fonts/Nekst-Black.woff2") format("woff2"),
  url("../../fonts/Nekst-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst Regular";
  src: url("../../fonts/Nekst-Regular.woff2") format("woff2"),
  url("../../fonts/Nekst-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst Bold";
  src: url("../../fonts/Nekst-Bold.woff2") format("woff2"),
  url("../../fonts/Nekst-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst SemiBold";
  src: url("../../fonts/Nekst-SemiBold.woff2") format("woff2"),
  url("../../fonts/Nekst-SemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst Light";
  src: url("../../fonts/Nekst-Light.woff2") format("woff2"),
  url("../../fonts/Nekst-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}