.promo {
  min-height: 800px;
  width: 100%;
  padding: 60px 0 120px 0;
  background: url("../../img/promo/background.png") center 10% no-repeat;
  background-size: cover;
}

.promo__text {
  font-family: 'Nekst Regular', sans-serif;
  font-size: 24px;
  color: #fff;
  margin-top: 170px;
  margin-left: 5%;
}

.promo__text_fill {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #5F29B7;
}

.promo__exchanges {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.promo__exchanges-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 100px;
  background-color: #000;
  border-radius: 30px;
}

.promo__exchanges-item-image {
  max-width: 80px;
}

.promo__exchanges-item-image_big {
  max-width: 130px;
}

.promo__exchanges-item-soon {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 20px;
  background-color: #513285;
  font-size: 14px;
  font-family: 'Nekst Regular', sans-serif;
  color: #fff;
  border-radius: 5px;
}