@import url("base/buttons.css");
@import url("base/titles.css");
@import url("base/login.css");

@import url("blocks/header.css");
@import url("blocks/advantages.css");
@import url("blocks/choose.css");
@import url("blocks/destinations.css");
@import url("blocks/download.css");
@import url("blocks/footer.css");
@import url("blocks/offering.css");
@import url("blocks/promo.css");
@import url("blocks/carousel.css");
@import url("blocks/about.css");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: block;
  max-width: 1320px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 481px) {
  .container {
    max-width: 100%;
  }
}